<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.easemob.chatuidemo"
    android:versionCode="1"
    android:versionName="友情内测版" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="ANDROID.PERMISSION.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.xinxin.facelinker.DemoApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_uidemo"
        android:label="@string/app_name" >
        <activity
            android:name="com.xinxin.facelinker.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />

        <!-- 开屏页 -->
        <activity
            android:name="com.xinxin.facelinker.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 登陆 -->
        <activity
            android:name="com.xinxin.facelinker.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize|stateVisible" />

        <!-- 注册 -->
        <activity
            android:name="com.xinxin.facelinker.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <!-- 聊天页面 -->
        <activity
            android:name="com.xinxin.facelinker.activity.ChatActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" />
        <!-- 添加好友 -->
        <activity
            android:name="com.xinxin.facelinker.activity.AddContactActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateVisible" />
        <!-- 群组详情 -->
        <activity
            android:name="com.xinxin.facelinker.activity.GroupDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!-- 群组列表 -->
        <activity
            android:name="com.xinxin.facelinker.activity.GroupsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.xinxin.facelinker.activity.ChatRoomActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <!-- 聊天室详情 -->
        <activity
            android:name="com.xinxin.facelinker.activity.ChatRoomDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />

        <!-- 新建群组 -->
        <activity
            android:name="com.xinxin.facelinker.activity.NewGroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <!-- 退出群组提示框 -->
        <activity
            android:name="com.xinxin.facelinker.activity.ExitGroupDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleBottom" />
        <!-- 群组选人 -->
        <activity
            android:name="com.xinxin.facelinker.activity.GroupPickContactsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <!-- 地图 -->
        <activity
            android:name="com.xinxin.facelinker.activity.BaiduMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />

        <!-- 新的朋友邀请消息页面 -->
        <activity
            android:name="com.xinxin.facelinker.activity.NewFriendsMsgActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!-- 转发消息用户列表页面 -->
        <activity
            android:name="com.xinxin.facelinker.activity.ForwardMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <!-- 自定义的contextmenu -->
        <activity
            android:name="com.xinxin.facelinker.activity.ContextMenu"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" />
        <!-- 自定义的alertdialog -->
        <activity
            android:name="com.xinxin.facelinker.activity.AlertDialog2"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" />
        <!-- 显示下载大图页面 -->
        <activity
            android:name="com.xinxin.facelinker.activity.ShowBigImage"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!-- 下载文件 -->
        <activity
            android:name="com.xinxin.facelinker.activity.ShowNormalFileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!-- 黑名单 -->
        <activity
            android:name="com.xinxin.facelinker.activity.BlacklistActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />

        <!-- 公开的群聊列表 -->
        <activity
            android:name="com.xinxin.facelinker.activity.PublicGroupsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.xinxin.facelinker.activity.PublicChatRoomsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />

        <!-- 语音通话 -->
        <activity
            android:name="com.xinxin.facelinker.activity.VoiceCallActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/nornal_style" />
        <!-- 视频通话 -->
        <activity
            android:name="com.xinxin.facelinker.activity.VideoCallActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!-- 群聊简单信息 -->
        <activity
            android:name="com.xinxin.facelinker.activity.GroupSimpleDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!-- 群组黑名单用户列表 -->
        <activity
            android:name="com.xinxin.facelinker.activity.GroupBlacklistActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name="com.xinxin.facelinker.activity.PublicGroupsSeachActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name="com.xinxin.facelinker.activity.EditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.xinxin.facelinker.activity.ShowVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- choose video -->
        <activity
            android:name="com.xinxin.facelinker.activity.ImageGridActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.xinxin.facelinker.activity.RecorderVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- upload error log -->
        <activity
            android:name="com.xinxin.facelinker.activity.DiagnoseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!-- iOS offline push nick -->
        <activity
            android:name="com.xinxin.facelinker.activity.OfflinePushNickActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- robots list -->
        <activity
            android:name="com.xinxin.facelinker.activity.RobotsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="easemob-demo#chatdemoui" />
        <!--
            &lt;!&ndash; 已经在环信官网注册过的appkey &ndash;&gt;
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="925914554#facelinker" />
        -->
        <!-- 声明sdk所需的service -->
        <service
            android:name="com.easemob.chat.EMChatService"
            android:exported="true" />
        <!-- 声明sdk所需的receiver -->
        <receiver android:name="com.easemob.chat.EMMonitorReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <!-- 百度地图所需的service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <!-- umeng appkey，可忽略 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="53912a3156240b01a7075ed1" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="3ecea51f560650b1ed8a4b99808f52e8" />

        <activity
            android:name="com.xinxin.facelinker.activity.SettingChatActivity"
            android:label="@string/title_activity_setting_chat" />
        <activity
            android:name="com.xinxin.facelinker.activity.FeedbackActivity"
            android:label="@string/title_activity_feedback" />
        <activity
            android:name="com.xinxin.facelinker.activity.AboutFaceLinkerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_about_face_linker"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.xinxin.facelinker.activity.SettingAccountActivity"
            android:label="@string/title_activity_setting_account"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name="com.xinxin.facelinker.activity.SettingOthersActivity"
            android:label="@string/title_activity_setting_others"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name="com.xinxin.facelinker.activity.AddInfoActivity"
            android:label="@string/title_activity_add_info" >
        </activity>
        <activity
            android:name="com.xinxin.facelinker.activity.AddMyMotionActivity"
            android:label="@string/title_activity_add_my_motion" >
        </activity>
        <activity
            android:name="com.xinxin.facelinker.activity.GetPalInfoActivity"
            android:label="@string/title_activity_get_pal_info" >
        </activity>
        <activity
            android:name="com.xinxin.facelinker.activity.LogonActivity"
            android:label="@string/title_activity_logon" >
        </activity>
        <activity
            android:name="com.xinxin.facelinker.activity.ReceiveNewPalInfoActivity"
            android:label="@string/title_activity_receive_new_pal_info" >
        </activity>
        <activity
            android:name="com.xinxin.facelinker.activity.ReceiveNewPalsActivity"
            android:label="@string/title_activity_receive_new_pals" >
        </activity>
        <activity
            android:name="com.xinxin.facelinker.activity.SearchUserActivity"
            android:label="@string/title_activity_search_user" >
        </activity>
        <activity
            android:name="com.xinxin.facelinker.activity.ShowMotionActivity"
            android:label="@string/title_activity_show_motion" >
        </activity>
        <activity
            android:name="com.xinxin.facelinker.activity.ShowMyMotionActivity"
            android:label="@string/title_activity_show_my_motion" >
        </activity>
        <activity
            android:name="com.xinxin.facelinker.activity.ShowNearUserMotionActivity"
            android:label="@string/title_activity_show_near_user_motion" >
        </activity>
        <activity
            android:name="com.xinxin.facelinker.activity.ShowPalsActivity"
            android:label="@string/title_activity_show_pals" >
        </activity>
        <activity
            android:name="com.xinxin.facelinker.activity.ShowPalsMotionActivity"
            android:label="@string/title_activity_show_pals_motion" >
        </activity>
        <activity
            android:name="com.xinxin.facelinker.activity.SendNewPalMessageActivity"
            android:label="@string/title_activity_send_new_pal_message" >
        </activity>
        <activity
            android:name="com.xinxin.facelinker.activity.ForgetPasswordActivity"
            android:label="@string/title_activity_forget_password" >
        </activity>
    </application>

</manifest>
